body {
    background-image: href("assets/images/backdrop_1.png");
}

h1 {
    text-align: center;
}

.character-select {
    float: left;
    width:100%;
}

.selectable-character {
    border: 5px solid green;
    background-color: white;
    text-align: center;
    width: 215px;
    float: left;
}

.selectable-enemy {
    border: 5px solid black;
    background-color: red;
    text-align: center;
    width: 215px;
    float: left;
}

.goku-img-1 {
    height: 200px;
    width: 200px;

}

.vegeta-img-1 {
    height: 200px;
    width: 200px;
}

.piccolo-img-1 {
    height: 200px;
    width: 200px;
}

.frieza-img-1 {
    height: 200px;
    width: 200px;
}

#player-character {
    float: left;
    width: 100%;
}

#enemies-available {
    float: left;
    width: 100%;
}

#fight-section {
    float: left;
    width: 100%;
}

#defender-area {
    float: left;
    width: 100%;
}
